@import 'tailwindcss';
@import './_responsive.css';
@import './_variables.css';
@import './_animated.css';
@import './_common.css';

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #111111;
  font-size: 16px;
  font-family:
    var(--font-general-sans),
    var(--font-pretendard),
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
}
